.footer {
  @include flex(0, 0, 7rem);
  padding: 1.5rem;
  background: $gray-100;
}

.footer-content-wrapper {
  width: 100%;
}

.footer-quick-links {
  margin-bottom: 10rem;
  .link {
    &:hover {
      
    }
  }
}

.copyright {
  
}

.link-to-top {
  display: inline-block;
  margin-left: 12rem;
  font-size: $font-size-sm;
  .fa {
    margin-left: 3rem;
    display: none;
    transition: $transition-base;
  }
  &:hover {
    cursor: pointer;
    .fa {
      display: inline-block;
    }
  }
}
