.header {
  position: relative;
  z-index: 10;
  padding: 0 12rem;
  width: 100%;
  flex: 0 0 5rem;
  background: $white;
  border-bottom: 1px solid $gray-300;
  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    height: 5rem;
  }
  .logo-link {
    display: inline-block;
    width: auto;
  }
  .nav {
    .menu-label {
      font-size: 1.2rem;
      letter-spacing: 0.48rem;
      text-transform: uppercase;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .menu-bar {
    margin-left: 5rem;
    width: 7rem;
    height: 1.1rem;
    transition: $transition-base;
  }
}
