// links

.link-block {
  text-align: left;
  font-size: $font-size-sm;
  text-transform: uppercase;
  &:hover {
    color: $rustyle-darkgray;
  }
  &:hover .link-bar {
    width: 18rem;
  }
}

.link-bar {
  margin-right: 6rem;
  width: 12rem;
  height: 0.1rem;
  background: $rustyle-darkgray;
  transition: $transition-base;
}

// p styles

.p {
  font-size: $font-size-base;
}

.p-sm {
  font-size: $font-size-sm;
}

// lists

.list {
  padding-left: 0;
  list-style: none;
}

.list_horizontal {
  @include display-flex-mixin(flex, row, flex-start, center, wrap);
}
